<header id="page_header">
  <h1>put it in the pizza.</h1>
  <p>(click a pic)</p>
</header>

<article id="page_content">
  <!-- JS here to prevent 'flash' of all the default audio players -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8">
      $(function() {
          $("audio").removeAttr("controls").each(function(i, audioElement) {
              var audio = $(this);
              var that = this; //closure to keep reference to current audio tag
              $("#doc").append($('<button>'+audio.attr("title")+'</button>').click(function() {
                  that.play();
              }));
          });
      });
  </script>

  <% @audio_files.each do |src| %>
      <audio id="<%= src[:file] %>" preload="auto" autobuffer>
        <source src="audio/<%= src[:file] %>.mp3" type="audio/mpeg" />
        <source src="audio/<%= src[:file] %>.ogg" type="audio/ogg" />
        <p>can't put it in the pizza.  you need an <a href="http://thebrowsereview.com/html5/html5-audio-tag-and-format-support/">html5 browser</a></p>
      </audio>
  <% end %>

  <table>
    <% @audio_files.each_with_index do |src, i| %>
        <% p src %>
        <% if i % 4 == 0 %>
            <tr>
        <% end %>

        <td>
          <img src="images/thumbs/<%= src[:file] %>.jpg" onclick="document.getElementById('<%= src[:file] %>').play()">
          <p><%= src[:name] %></p>
        </td>

        <% if i % 4 == 4 %>
            </tr>
        <% end %>
    <% end %>
  </table>
</article>

<footer id="page_footer">inspired by <a href="http://www.youtube.com/watch?v=wusGIl3v044">this.</a></footer>
